## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing data set

In [2]:
# Create a string of the path for the main project folder
path = r'/Users/rose/Documents/Career Foundry/Instacart Basket Analysis'

In [3]:
# Import orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
df_ords_prior.head(2)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1

In [5]:
df_ords_prior.tail(2)

          order_id  product_id  add_to_cart_order  reordered
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
# Import 'orders_wrangled5.csv' from Prepared Data--the most recent file
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled5.csv'), index_col = False)

In [8]:
df_ords.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0

In [9]:
df_ords.tail(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [10]:
df_ords.shape

(3421083, 6)

## 0.3 Merging Dataframes

In [11]:
# Merging 2 dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
# Export df_merged_large dataframe as “orders_products_combined.pkl” in your “Prepared Data” folder.
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))