## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
# Import Data ords_prods_merge dataframe, use path: 
path = r'/Users/rose/Documents/Career Foundry/Instacart Basket Analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
df_ords_prods_merge.shape

(32404859, 14)

In [5]:
# Create a subset
df = df_ords_prods_merge[:1000000]

In [6]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [7]:
df.shape

(1000000, 14)

In [8]:
max_price = df['prices'].max()
max_price

14.8

In [9]:
# Define a custom function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [10]:
# For the subset defined above, df: Create a new column 'price_range' and to apply the custom function 'price_label' to all rows (axis=1)
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/3d/n4rd9d4920lcv99lmvhn9ghr0000gp/T/ipykernel_37687/2881021499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
# Use the value_counts() function to count the number of products within each label
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [12]:
# Checked for highest priced item within the subset to verify the accuracy of the value count results, which indicates zero items in the high-range tier
df['prices'].max()

14.8

In [13]:
# Use of If statements, using the predefined function loc() to create a new column 'price_range_loc' in df

In [14]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/3d/n4rd9d4920lcv99lmvhn9ghr0000gp/T/ipykernel_37687/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [18]:
df['prices'].unique().tolist()

[9.0,
 12.5,
 4.4,
 4.7,
 1.0,
 3.0,
 10.3,
 4.0,
 8.6,
 3.2,
 2.7,
 14.0,
 5.0,
 13.4,
 1.8,
 6.8,
 12.6,
 1.3,
 5.2,
 6.3,
 2.3,
 10.9,
 4.1,
 9.4,
 14.8,
 7.5]

In [19]:
df['prices'].value_counts(dropna = False)

prices
10.3    379450
6.3     176815
1.8      76360
1.3      57895
7.5      57198
5.0      42605
14.8     41473
9.0      35791
3.2      21490
12.5     15935
14.0     13880
12.6     13238
4.1      10557
2.3      10195
13.4      8558
2.7       8538
4.4       6476
8.6       6196
6.8       5019
4.0       3751
4.7       2523
3.0       1946
5.2       1370
1.0       1214
10.9      1166
9.4        361
Name: count, dtype: int64

## 03. Creating 'Price_range_loc' & 'Busiest day' columns

In [20]:
df_ords_prods_merge.shape

(32404859, 14)

In [21]:
df_ords_prods_merge.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

In [22]:
# Checked for highest priced item-- find outliers
df_ords_prods_merge['prices'].max()

99999.0

In [23]:
# Adjust display options
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Set width to fit all columns

# Run value_counts
df_ords_prods_merge['prices'].value_counts(dropna=False)

prices
12.3       624261
10.3       510496
4.0        447272
6.3        438467
1.3        425691
7.3        411924
8.2        404015
1.4        392209
6.7        379126
4.5        367223
4.4        357026
6.8        354168
7.9        342988
14.3       334811
13.2       333183
5.7        323997
1.8        321184
9.1        320782
4.9        318220
8.8        318091
3.8        315426
6.9        314196
14.0       311640
12.8       309727
11.4       303015
3.6        300127
1.6        299352
2.0        286259
11.8       284476
5.3        284243
7.0        282884
14.7       279291
6.5        278357
8.3        276230
4.1        268269
2.9        264700
1.2        256258
8.6        254009
3.2        253782
5.2        251509
5.5        250136
3.1        249256
2.5        246421
4.2        245755
6.1        244209
1.1        242782
2.3        242051
5.8        241047
7.5        239261
14.1       238211
3.3        238041
10.5       237657
7.4        233506
9.0        228576
8.4        227493
5.0        225904
13.4       225843
11.5       225399
5.1        224797
3.4        223571
7.2        223120
3.5        222786
3.7        222159
4.7        221048
8.9        219412
9.6        216626
13.5       216276
1.7        213967
11.3       212926
3.9        212805
11.2       212323
2.6        211936
5.9        208900
5.4        206769
6.4        206468
11.7       206199
2.1        206004
6.6        204936
10.6       204804
2.7        199785
9.4        197179
6.0        196985
2.4        196042
9.8        194754
4.8        193853
3.0        192650
10.7       191705
7.7        190070
14.8       188844
12.2       188444
7.8        186923
5.6        183638
11.0       183505
9.2        182411
12.1       181986
13.7       181882
6.2        178656
8.1        176805
12.6       174427
13.3       173797
13.6       172962
11.1       169709
9.9        169251
9.3        168917
14.4       168272
8.7        166742
9.5        165789
10.2       165789
10.9       165607
12.0       164717
13.8       162616
4.3        162367
12.9       160860
2.2        160243
14.9       156433
1.9        156179
1.5        154527
2.8        153979
12.5       152781
8.0        151542
11.6       148742
13.9       145234
4.6        144069
7.1        140813
14.6       139880
10.1       139263
8.5        139244
10.4       133058
14.5       129540
10.0       127842
11.9       127349
12.7       124544
9.7        120777
14.2       119314
13.1       117047
1.0        115143
13.0       114503
7.6        113878
12.4        97866
15.0        97261
10.8        89927
21.1        33805
19.6        28383
22.3        19430
24.2        15891
18.2        14923
23.2        14866
25.0        13772
23.8        12585
21.6        10598
18.7        10503
23.1         9135
23.6         8458
18.6         8451
18.1         8027
21.3         7647
15.3         7495
24.7         7283
20.7         6568
19.3         6537
24.9         5781
20.0         5775
19.7         5538
19.4         5457
20.4         5351
22.1         5204
15.9         5078
16.9         4971
23.3         4803
16.8         4795
15.7         4551
14900.0      4429
18.8         4363
24.0         4327
17.3         4309
17.1         4231
16.6         4212
16.4         3892
22.9         3884
17.0         3836
20.1         3745
23.0         3265
18.5         3105
16.7         3105
19.1         2926
24.3         2889
19.0         2823
21.7         2553
16.5         2541
15.1         2422
15.5         2325
22.6         2275
24.5         2148
23.9         2074
17.7         2073
24.6         1962
23.5         1924
16.2         1823
18.4         1762
17.4         1721
16.1         1622
23.7         1346
22.4         1280
16.0         1272
22.0         1182
22.2         1178
15.4         1175
20.6         1167
18.0         1135
22.8         1089
20.9         1075
17.2         1001
19.2          981
17.8          981
24.1          978
20.5          945
19.9          887
20.8          852
15.8          772
22.5          706
99999.0       698
21.9          689
17.6          640
21.8          546
24.4          499
15.2          494
18.9          483
19.5          453
24.8          410
17.5          369
23.4          368
19.8          344
15.6          333
16.3          287
20.3          236
21.4          137
17.9          137
20.2          123
22.7           99
21.5           85
18.3           11
21.0            8
Name: count, dtype: int64

In [24]:
# Use of If-statement with a loc() function, to create a new column 'price_range_loc' in df_ords_prods_merge

In [25]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices']  <= 8, 'price_range_loc'] = 'Low Price Range'

In [26]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] > 8) & (df_ords_prods_merge['prices'] <= 15), 'price_range_loc'] = 'Mid Price Range'

In [27]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High Price Range'

In [29]:
# Check count 
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Low Price Range     17613834
Mid Price Range     14373347
High Price Range      417678
Name: count, dtype: int64

In [30]:
# Frequency of orders per day
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

## 04. Creating 'busiest_day' & 'busiest_days' columns

In [31]:
# If-statement with for loop to find out the "Busiest day" and  "Slowest day"
result = []
for value in df_ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Slowest day")
    else:
        result.append("Regularly busy")

In [32]:
# Create a new column within df_ords_prods_merge dataframe and set it equal to result
df_ords_prods_merge['busiest_day'] = result

In [33]:
# Check frequency
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Slowest day        3783802
Name: count, dtype: int64

In [34]:
# Updated If-statement with for loop to reflect new requirement for the two "Busiest days" and two "Slowest days"
result2 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result2.append("Busiest days")
  elif value == 4 or value == 3:
    result2.append("Slowest days")
  else:
    result2.append("Regularly busy")

In [35]:
# Create a new column within df_ords_prods_merge dataframe and set it equal to result2 (will serve as holder for results from the if statement)
df_ords_prods_merge['busiest_days'] = result2

In [36]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [37]:
df_ords_prods_merge.shape

(32404859, 17)

In [38]:
df_ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days'],
      dtype='object')

With the new requirements, we now capture two days each for both peak and off-peak periods, and the updated numbers reflect these changes. The labeling adjustments are now more concise and meaningful.

## 05. Creating “busiest_period_of_day” column

In [39]:
# Frequency of orders per hour
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [40]:
# If-statement with for loop to find out the "Busiest period of day"
result3 = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result3.append("Most orders")
  elif value in [3, 4, 2, 5, 1, 0, 6, 23]:
    result3.append("Fewest orders")
  else:
    result3.append("Average orders")

In [41]:
# Create a new column within df_ords_prods_merge dataframe and set it equal to result3
df_ords_prods_merge['busiest_period_of_day'] = result3

In [42]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [43]:
df_ords_prods_merge.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid Price Range,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid Price Range,Regularly busy,Slowest days,Average orders

In [44]:
df_ords_prods_merge.shape

(32404859, 18)

In [45]:
df_ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day'],
      dtype='object')

In [46]:
df_ords_prods_merge['prices'].max()

99999.0

In [47]:
# Export df_ords_prods_merge dataframe as “ords_prods_merge_derived.pkl” under “Prepared Data” folder. 
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_derived.pkl'))